# Telecommunication's Sector Analysis

This analysis aims to evaluate the financial performance of the Saudi telecommunications sector by comparing key market players based on pre-calculated company-level KPIs.
The focus is placed on long-term growth, operational efficiency, profitability, and financial stability, highlighting structural differences in risk profiles across companies through a sector-level comparative analysis rather than recalculating base metrics

## Importing Libraries

In [ ]:
# Importing necessary libraries for data manipulation, numerical operations, and plotting
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Load Sector Data

In [ ]:
# Load pre-analyzed financial data for each telecommunications company
stc = pd.read_csv('STC/stc_analysis_results.csv')
mobily = pd.read_csv('Mobily/mobily_analysis_results.csv')
zain_ksa = pd.read_csv('Zain KSA/zain_ksa_analysis_results.csv')

In [6]:
stc.head()

,Year,Company_Name,Sector,Revenue_SAR,Net_Income_SAR,Operating_Income_SAR,Total_Assets_SAR,Total_Liabilities_SAR,Revenue_Growth_%,Operating_Margin_%,Net_Profit_Margin_%,Liabilities_to_Assets_Ratio,Asset_Turnover_Ratio
0,2019,STC,Telecommunications,54367531.0,10924831.0,12480393.0,44841492.0,55271210.0,NaN,22.955600,20.094403,123.259079,1.212438
1,2020,STC,Telecommunications,58953318.0,11185197.0,12731125.0,121972100.0,56705085.0,8.434790,21.595265,18.972973,46.490210,0.483334
2,2021,STC,Telecommunications,63416977.0,11594697.0,13127755.0,127779417.0,56393438.0,7.571514,20.700695,18.283270,44.133429,0.496300
3,2022,STC,Telecommunications,67431546.0,12386922.0,15088441.0,137219986.0,61194394.0,6.330433,22.375938,18.369625,44.595832,0.491412
4,2023,STC,Telecommunications,71777161.0,13419479.0,13161291.0,159645869.0,78130703.0,6.444484,18.336321,18.696029,48.940009,0.449602

In [7]:
mobily.head()

,Year,Company_Name,Sector,Revenue_SAR,Net_Income_SAR,Operating_Income_SAR,Total_Assets_SAR,Total_Liabilities_SAR,Revenue_Growth_%,Operating_Margin_%,Net_Profit_Margin_%,Liabilities_to_Assets_Ratio,Asset_Turnover_Ratio
0,2019,Mobily,Telecommunications,13449974.0,31183.0,967013.0,39262461.0,25511111.0,NaN,7.189702,0.231844,64.975833,0.342566
1,2020,Mobily,Telecommunications,14046168.0,783254.0,1366517.0,38415896.0,23970669.0,4.432678,9.728753,5.576282,62.397787,0.365634
2,2021,Mobily,Telecommunications,14834056.0,1071541.0,1667784.0,39363908.0,24167662.0,5.609274,11.242940,7.223520,61.395484,0.376844
3,2022,Mobily,Telecommunications,15717415.0,1656940.0,2328016.0,38178280.0,21819745.0,5.954939,14.811698,10.542064,57.152247,0.411685
4,2023,Mobily,Telecommunications,16762681.0,2231977.0,2977256.0,38817134.0,21194527.0,6.650368,17.761216,13.315155,54.600958,0.431837

In [8]:
zain_ksa.head()

,Year,Company_Name,Sector,Revenue_SAR,Net_Income_SAR,Operating_Income_SAR,Total_Assets_SAR,Total_Liabilities_SAR,Revenue_Growth_%,Operating_Margin_%,Net_Profit_Margin_%,Liabilities_to_Assets_Ratio,Asset_Turnover_Ratio
0,2019,Zain KSA,Telecommunications,8386000.0,485000.0,1511000.0,27738000.0,23635000.0,NaN,18.018125,5.783449,85.208018,0.302329
1,2020,Zain KSA,Telecommunications,7917000.0,260000.0,1002000.0,28158000.0,19429000.0,-5.592654,12.656309,3.284072,68.999929,0.281163
2,2021,Zain KSA,Telecommunications,7901000.0,214000.0,699000.0,27877000.0,18837000.0,-0.202097,8.846981,2.708518,67.571833,0.283424
3,2022,Zain KSA,Telecommunications,9075000.0,550000.0,1066000.0,28461000.0,18659000.0,14.858879,11.746556,6.060606,65.559889,0.318857
4,2023,Zain KSA,Telecommunications,9883000.0,1267000.0,871000.0,27378000.0,16787000.0,8.903581,8.813113,12.819994,61.315655,0.360983

### Data Overview
The datasets contain pre-analyzed financial metrics for STC, Mobily, and Zain KSA, including revenue, growth rates, margins, and ratios over multiple years.

In [ ]:
# Combine all company data into a single DataFrame for sector analysis
telecom_df = pd.concat([stc, mobily, zain_ksa], ignore_index=True)
telecom_df.head(10)

,Year,Company_Name,Sector,Revenue_SAR,Net_Income_SAR,Operating_Income_SAR,Total_Assets_SAR,Total_Liabilities_SAR,Revenue_Growth_%,Operating_Margin_%,Net_Profit_Margin_%,Liabilities_to_Assets_Ratio,Asset_Turnover_Ratio
0,2019,STC,Telecommunications,54367531.0,10924831.0,12480393.0,44841492.0,55271210.0,NaN,22.955600,20.094403,123.259079,1.212438
1,2020,STC,Telecommunications,58953318.0,11185197.0,12731125.0,121972100.0,56705085.0,8.434790,21.595265,18.972973,46.490210,0.483334
2,2021,STC,Telecommunications,63416977.0,11594697.0,13127755.0,127779417.0,56393438.0,7.571514,20.700695,18.283270,44.133429,0.496300
3,2022,STC,Telecommunications,67431546.0,12386922.0,15088441.0,137219986.0,61194394.0,6.330433,22.375938,18.369625,44.595832,0.491412
4,2023,STC,Telecommunications,71777161.0,13419479.0,13161291.0,159645869.0,78130703.0,6.444484,18.336321,18.696029,48.940009,0.449602
5,2024,STC,Telecommunications,75893413.0,24916243.0,14425638.0,160638143.0,68153096.0,5.734766,19.007760,32.830574,42.426472,0.472450
6,2019,Mobily,Telecommunications,13449974.0,31183.0,967013.0,39262461.0,25511111.0,NaN,7.189702,0.231844,64.975833,0.342566
7,2020,Mobily,Telecommunications,14046168.0,783254.0,1366517.0,38415896.0,23970669.0,4.432678,9.728753,5.576282,62.397787,0.365634
8,2021,Mobily,Telecommunications,14834056.0,1071541.0,1667784.0,39363908.0,24167662.0,5.609274,11.242940,7.223520,61.395484,0.376844
9,2022,Mobily,Telecommunications,15717415.0,1656940.0,2328016.0,38178280.0,21819745.0,5.954939,14.811698,10.542064,57.152247,0.411685

### Combined Dataset
All company data has been concatenated into a single DataFrame for unified sector analysis.

## Quick Data Validation

In [ ]:
# Perform quick data validation: check data types, summary statistics, and missing values
telecom_df.info()
telecom_df.describe()
telecom_df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         18 non-null     int64
 1   Company_Name                 18 non-null     object
 2   Sector                       18 non-null     object
 3   Revenue_SAR                  18 non-null     float64
 4   Net_Income_SAR               18 non-null     float64
 5   Operating_Income_SAR         18 non-null     float64
 6   Total_Assets_SAR             18 non-null     float64
 7   Total_Liabilities_SAR        18 non-null     float64
 8   Revenue_Growth_%             15 non-null     float64
 9   Operating_Margin_%           18 non-null     float64
 10  Net_Profit_Margin_%          18 non-null     float64
 11  Liabilities_to_Assets_Ratio  18 non-null     float64
 12  Asset_Turnover_Ratio         18 non-null     float64
dtypes: float64(10), int64(1), object(2)
memory usage: 2.0+ KB

Year                           0
Company_Name                   0
Sector                         0
Revenue_SAR                    0
Net_Income_SAR                 0
Operating_Income_SAR           0
Total_Assets_SAR               0
Total_Liabilities_SAR          0
Revenue_Growth_%               3
Operating_Margin_%             0
Net_Profit_Margin_%            0
Liabilities_to_Assets_Ratio    0
Asset_Turnover_Ratio           0
dtype: int64

### Data Quality Check
Validated the dataset for data types, statistical summaries, and missing values to ensure reliability.

## Sector-Level Aggregations

#### a) Sector Trend over Years

In [ ]:
# Calculate average metrics per year to observe sector trends over time
sector_trend = (
    telecom_df.groupby("Year")
      .mean(numeric_only=True)
      .reset_index()
)

#### Sector Trend Analysis
Aggregated metrics by year to identify overall sector performance trends.

#### b) Company Summary

In [ ]:
# Aggregate key financial metrics by company to compare performance
company_summary = (
    telecom_df.groupby("Company_Name")
      .agg({
          "Revenue_Growth_%": "mean",
          "Operating_Margin_%": "mean",
          "Net_Profit_Margin_%": "mean",
          "Liabilities_to_Assets_Ratio": "mean",
          "Asset_Turnover_Ratio": "mean"
      })
      .reset_index()
)

#### Company Performance Summary
Averaged key financial ratios for each company to facilitate comparison.

#### c) Volatility

In [ ]:
# Calculate revenue growth volatility (standard deviation) for each company
volatility = (
    telecom_df.groupby("Company_Name")["Revenue_Growth_%"]
      .std()
      .reset_index(name="Revenue_Growth_Volatility")
)

#### Revenue Growth Volatility
Measured the standard deviation of revenue growth to assess stability.

#### d) CAGR

In [ ]:
# Define a function to calculate Compound Annual Growth Rate (CAGR) for revenue
def calculate_cagr(df):
    start = df.iloc[0]["Revenue_SAR"]
    end = df.iloc[-1]["Revenue_SAR"]
    n = df.shape[0] - 1
    return ((end / start) ** (1 / n) - 1) * 100

# Apply CAGR calculation to each company
cagr_df = (
    telecom_df.groupby("Company_Name")
      .apply(calculate_cagr)
      .reset_index(name="Revenue_CAGR")
)

C:\Users\asemh\AppData\Local\Temp\ipykernel_10268\2497097232.py:9: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(calculate_cagr)

#### Compound Annual Growth Rate (CAGR)
Calculated CAGR for revenue to understand long-term growth trends.

## Merge Sector Insights Tables

In [ ]:
# Merge company summary, volatility, and CAGR into a comprehensive insights table
sector_insights = company_summary.merge(
    volatility,
    on="Company_Name",
    how="left"
)

sector_insights = sector_insights.merge(
    cagr_df,
    on="Company_Name",
    how="left"
)
sector_insights

,Company_Name,Revenue_Growth_%,Operating_Margin_%,Net_Profit_Margin_%,Liabilities_to_Assets_Ratio,Asset_Turnover_Ratio,Revenue_Growth_Volatility,Revenue_CAGR
0,Mobily,6.252047,13.354223,8.992236,58.585698,0.400213,1.544684,6.243104
1,STC,6.903197,20.828597,21.207812,58.307505,0.600923,1.083528,6.898816
2,Zain KSA,4.568954,11.941477,6.228591,68.433846,0.319193,7.918139,4.328482

### Consolidated Sector Insights
Combined all calculated metrics into a single table for comprehensive analysis.

## Sector  Insights

**STC** demonstrates the strongest long-term revenue growth alongside superior operating efficiency, resulting in the highest net profit margins within the sector.
**Mobily** follows with moderate growth and profitability, while **Zain** exhibits weaker margins and significantly higher revenue volatility.
**Zain’s** elevated liabilities-to-assets ratio indicates higher financial risk, whereas **STC’s** lower volatility and stronger asset utilization highlight its operational stability and resilience

## Telecommunications Sector Summary


The telecommunications sector is characterized by stable long-term growth and moderate profitability, driven primarily by scale advantages among leading operators. While larger firms demonstrate stronger margins and financial stability, smaller players show higher volatility and leverage, indicating elevated risk levels. Overall, the sector reflects a balance between steady cash flows and capital-intensive operation

## Save Clean Sector Output

In [22]:
# Export the cleaned sector data and insights to CSV files for further use
telecom_df.to_csv("telecommunications_sector_clean.csv", index=False)
sector_insights.to_csv("telecommunications_sector_insights.csv", index=False)

print("Data exported successfully.")

Data exported successfully.

### Analysis Complete
The telecommunications sector data has been cleaned, analyzed, and exported for further reporting or visualization.