# Real Estate Development Sector Analysis

This analysis aims to evaluate the financial performance of the Saudi real estate development sector by comparing key market players based on pre-calculated company-level KPIs.
The focus is placed on long-term growth, operational efficiency, profitability, and financial stability, highlighting structural differences in risk profiles across companies through a sector-level comparative analysis rather than recalculating base metrics

## Importing Libraries

In [1]:
# Importing necessary libraries for data manipulation, numerical operations, and plotting
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Load Sector Data

In [2]:
# Load pre-analyzed financial data for each real estate development company
dar_alarkan = pd.read_csv('Dar Al Arkan/dar_alarkan_analysis_results.csv')
emaar_ec = pd.read_csv('Emaar The Economic City/emaar_ec_analysis_results.csv')
jabal_omar = pd.read_csv('Jabal Omar Development/jabal_omar_analysis_results.csv')

In [3]:
dar_alarkan.head()

,Year,Company_Name,Sector,Revenue_SAR,Net_Income_SAR,Operating_Income_SAR,Total_Assets_SAR,Total_Liabilities_SAR,Revenue_Growth_%,Operating_Margin_%,Net_Profit_Margin_%,Liabilities_to_Assets_Ratio,Asset_Turnover_Ratio
0,2019,Dar Alarkan,Real Estate Development,3491856.0,304590.0,649653.0,28049229.0,9039741.0,NaN,18.604805,8.722868,32.228126,0.124490
1,2020,Dar Alarkan,Real Estate Development,1944854.0,18794.0,503318.0,30934616.0,11908436.0,-44.303144,25.879475,0.966345,38.495503,0.062870
2,2021,Dar Alarkan,Real Estate Development,2493078.0,132520.0,684783.0,31961680.0,12802050.0,28.188440,27.467372,5.315518,40.054371,0.078002
3,2022,Dar Alarkan,Real Estate Development,3925499.0,441720.0,1099653.0,33512853.0,13908725.0,57.455924,28.013076,11.252582,41.502659,0.117134
4,2023,Dar Alarkan,Real Estate Development,2707100.0,610758.0,865310.0,33655304.0,13363423.0,-31.038067,31.964464,22.561339,39.706737,0.080436

In [4]:
emaar_ec.head()

,Year,Company_Name,Sector,Revenue_SAR,Net_Income_SAR,Operating_Income_SAR,Total_Assets_SAR,Total_Liabilities_SAR,Revenue_Growth_%,Operating_Margin_%,Net_Profit_Margin_%,Liabilities_to_Assets_Ratio,Asset_Turnover_Ratio
0,2019,Emaar Economic City,Real Estate Development,946807.0,-533391.0,-337604.0,17333958.0,10231703.0,NaN,-35.657109,-56.335769,59.026929,0.054622
1,2020,Emaar Economic City,Real Estate Development,547287.0,-1248364.0,-1043639.0,16316662.0,10473389.0,-42.196562,-190.693183,-228.100430,64.188306,0.033542
2,2021,Emaar Economic City,Real Estate Development,372079.0,-836529.0,-690373.0,16376950.0,8600143.0,-32.013916,-185.544736,-224.825642,52.513704,0.022720
3,2022,Emaar Economic City,Real Estate Development,363267.0,-1157290.0,-794527.0,15190831.0,8536054.0,-2.368314,-218.717087,-318.578346,56.192146,0.023914
4,2023,Emaar Economic City,Real Estate Development,1031357.0,-253220.0,242738.0,15149663.0,8743415.0,183.911558,23.535788,-24.552119,57.713594,0.068078

In [5]:
jabal_omar.head()

,Year,Company_Name,Sector,Revenue_SAR,Net_Income_SAR,Operating_Income_SAR,Total_Assets_SAR,Total_Liabilities_SAR,Revenue_Growth_%,Operating_Margin_%,Net_Profit_Margin_%,Liabilities_to_Assets_Ratio,Asset_Turnover_Ratio
0,2019,Jabel Omar,Real Estate Development,885220.0,635104.0,6858.0,26287576.0,17972572.0,NaN,0.774723,71.745329,68.369073,0.033674
1,2020,Jabel Omar,Real Estate Development,176682.0,1339006.0,790781.0,25736881.0,18748140.0,-80.040894,447.573041,757.862148,72.845424,0.006865
2,2021,Jabel Omar,Real Estate Development,310360.0,946210.0,-432350.0,26822580.0,18194350.0,75.660226,-139.305967,304.874984,67.832214,0.011571
3,2022,Jabel Omar,Real Estate Development,849500.0,-176780.0,-352430.0,26512470.0,13825760.0,173.714396,-41.486757,-20.809888,52.148140,0.032042
4,2023,Jabel Omar,Real Estate Development,1326720.0,226460.0,37480.0,27282700.0,14559880.0,56.176574,2.825012,17.069163,53.366712,0.048629

### Data Overview
The datasets contain pre-analyzed financial metrics for Dar Al Arkan, Emaar The Economic City, and Jabal Omar Development, including revenue, growth rates, margins, and ratios over multiple years.

In [6]:
# Combine all company data into a single DataFrame for sector analysis
real_estate_df = pd.concat([dar_alarkan, emaar_ec, jabal_omar], ignore_index=True)
real_estate_df.head(10)

,Year,Company_Name,Sector,Revenue_SAR,Net_Income_SAR,Operating_Income_SAR,Total_Assets_SAR,Total_Liabilities_SAR,Revenue_Growth_%,Operating_Margin_%,Net_Profit_Margin_%,Liabilities_to_Assets_Ratio,Asset_Turnover_Ratio
0,2019,Dar Alarkan,Real Estate Development,3491856.0,304590.0,649653.0,28049229.0,9039741.0,NaN,18.604805,8.722868,32.228126,0.124490
1,2020,Dar Alarkan,Real Estate Development,1944854.0,18794.0,503318.0,30934616.0,11908436.0,-44.303144,25.879475,0.966345,38.495503,0.062870
2,2021,Dar Alarkan,Real Estate Development,2493078.0,132520.0,684783.0,31961680.0,12802050.0,28.188440,27.467372,5.315518,40.054371,0.078002
3,2022,Dar Alarkan,Real Estate Development,3925499.0,441720.0,1099653.0,33512853.0,13908725.0,57.455924,28.013076,11.252582,41.502659,0.117134
4,2023,Dar Alarkan,Real Estate Development,2707100.0,610758.0,865310.0,33655304.0,13363423.0,-31.038067,31.964464,22.561339,39.706737,0.080436
5,2024,Dar Alarkan,Real Estate Development,3759022.0,806840.0,1334107.0,36940222.0,15839508.0,38.857892,35.490801,21.464094,42.878757,0.101760
6,2019,Emaar Economic City,Real Estate Development,946807.0,-533391.0,-337604.0,17333958.0,10231703.0,NaN,-35.657109,-56.335769,59.026929,0.054622
7,2020,Emaar Economic City,Real Estate Development,547287.0,-1248364.0,-1043639.0,16316662.0,10473389.0,-42.196562,-190.693183,-228.100430,64.188306,0.033542
8,2021,Emaar Economic City,Real Estate Development,372079.0,-836529.0,-690373.0,16376950.0,8600143.0,-32.013916,-185.544736,-224.825642,52.513704,0.022720
9,2022,Emaar Economic City,Real Estate Development,363267.0,-1157290.0,-794527.0,15190831.0,8536054.0,-2.368314,-218.717087,-318.578346,56.192146,0.023914

### Combined Dataset
All company data has been concatenated into a single DataFrame for unified sector analysis.

## Quick Data Validation

In [7]:
# Perform quick data validation: check data types, summary statistics, and missing values
real_estate_df.info()
real_estate_df.describe()
real_estate_df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         18 non-null     int64
 1   Company_Name                 18 non-null     object
 2   Sector                       18 non-null     object
 3   Revenue_SAR                  18 non-null     float64
 4   Net_Income_SAR               18 non-null     float64
 5   Operating_Income_SAR         18 non-null     float64
 6   Total_Assets_SAR             18 non-null     float64
 7   Total_Liabilities_SAR        18 non-null     float64
 8   Revenue_Growth_%             15 non-null     float64
 9   Operating_Margin_%           18 non-null     float64
 10  Net_Profit_Margin_%          18 non-null     float64
 11  Liabilities_to_Assets_Ratio  18 non-null     float64
 12  Asset_Turnover_Ratio         18 non-null     float64
dtypes: float64(10), int64(1), object(2)
memory usage: 2.0+ KB

Year                           0
Company_Name                   0
Sector                         0
Revenue_SAR                    0
Net_Income_SAR                 0
Operating_Income_SAR           0
Total_Assets_SAR               0
Total_Liabilities_SAR          0
Revenue_Growth_%               3
Operating_Margin_%             0
Net_Profit_Margin_%            0
Liabilities_to_Assets_Ratio    0
Asset_Turnover_Ratio           0
dtype: int64

### Data Quality Check
Validated the dataset for data types, statistical summaries, and missing values to ensure reliability.

## Sector-Level Aggregations

#### a) Sector Trend over Years

In [8]:
# Calculate average metrics per year to observe sector trends over time
sector_trend = (
    real_estate_df.groupby("Year")
      .mean(numeric_only=True)
      .reset_index()
)

#### Sector Trend Analysis
Aggregated metrics by year to identify overall sector performance trends.

#### b) Company Summary

In [9]:
# Aggregate key financial metrics by company to compare performance
company_summary = (
    real_estate_df.groupby("Company_Name")
      .agg({
          "Revenue_Growth_%": "mean",
          "Operating_Margin_%": "mean",
          "Net_Profit_Margin_%": "mean",
          "Liabilities_to_Assets_Ratio": "mean",
          "Asset_Turnover_Ratio": "mean"
      })
      .reset_index()
)

#### Company Performance Summary
Averaged key financial ratios for each company to facilitate comparison.

#### c) Volatility

In [10]:
# Calculate revenue growth volatility (standard deviation) for each company
volatility = (
    real_estate_df.groupby("Company_Name")["Revenue_Growth_%"]
      .std()
      .reset_index(name="Revenue_Growth_Volatility")
)

#### Revenue Growth Volatility
Measured the standard deviation of revenue growth to assess stability.

#### d) CAGR

In [11]:
# Define a function to calculate Compound Annual Growth Rate (CAGR) for revenue
def calculate_cagr(df):
    start = df.iloc[0]["Revenue_SAR"]
    end = df.iloc[-1]["Revenue_SAR"]
    n = df.shape[0] - 1
    return ((end / start) ** (1 / n) - 1) * 100

# Apply CAGR calculation to each company
cagr_df = (
    real_estate_df.groupby("Company_Name")
      .apply(calculate_cagr)
      .reset_index(name="Revenue_CAGR")
)

C:\Users\asemh\AppData\Local\Temp\ipykernel_14444\2459659173.py:11: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(calculate_cagr)

#### Compound Annual Growth Rate (CAGR)
Calculated CAGR for revenue to understand long-term growth trends.

## Merge Sector Insights Tables

In [12]:
# Merge company summary, volatility, and CAGR into a comprehensive insights table
sector_insights = company_summary.merge(
    volatility,
    on="Company_Name",
    how="left"
)

sector_insights = sector_insights.merge(
    cagr_df,
    on="Company_Name",
    how="left"
)
sector_insights

,Company_Name,Revenue_Growth_%,Operating_Margin_%,Net_Profit_Margin_%,Liabilities_to_Assets_Ratio,Asset_Turnover_Ratio,Revenue_Growth_Volatility,Revenue_CAGR
0,Dar Alarkan,9.832209,27.903332,11.713791,39.144359,0.094115,44.856648,1.485433
1,Emaar Economic City,9.726933,-119.861611,-186.456812,59.122148,0.038517,99.507427,-14.763912
2,Jabel Omar,53.765230,46.817225,191.812729,60.945291,0.033631,90.672868,16.521067

### Consolidated Sector Insights
Combined all calculated metrics into a single table for comprehensive analysis.

## Sector Insights

The real estate development sector is highly volatile, characterized by sharp contrasts between extreme losses and exceptionally high profitability across companies, reflecting strong sensitivity to economic shocks and project-based revenue recognition.

**Emaar Economic City** exhibits persistent financial weakness, with deeply negative operating and net profit margins, indicating structural challenges rather than temporary downturns. This results in the highest risk profile within the sector.

**Jabal Omar** reports exceptionally high profitability, driven by post-pandemic recovery effects and non-recurring gains. However, low asset turnover and elevated volatility suggest that earnings quality remains unstable, increasing financial risk despite strong headline margins.

**Dar Al Arkan** demonstrates the most balanced performance, combining reasonable profitability with the lowest leverage in the sector, resulting in a moderate and more controlled risk profile.

Leverage levels remain relatively moderate across the sector, implying that financial risk is driven more by earnings volatility and business model instability than by excessive debt.

All companies experienced negative revenue growth during 2020, followed by strong rebounds in 2022, highlighting the sectorâ€™s pronounced exposure to macroeconomic shocks and recovery cycles.

## Real Estate Development Sector Summary

The real estate development sector is defined by extreme volatility and uneven financial performance. While some firms achieved extraordinary profitability during recovery phases, earnings stability remains weak. Overall risk is driven less by leverage and more by cyclical demand, project timing, and earnings concentration, making the sector one of the most unstable in the portfolio.

## Save Clean Sector Output

In [13]:
# Export the cleaned sector data and insights to CSV files for further use
real_estate_df.to_csv("real_estate_sector_clean.csv", index=False)
sector_insights.to_csv("real_estate_sector_insights.csv", index=False)

print("Data exported successfully.")

Data exported successfully.

### Analysis Complete
The real estate development sector data has been cleaned, analyzed, and exported for further reporting or visualization.