# Energy Sector Analysis

This analysis aims to evaluate the financial performance of the Saudi energy sector by comparing key market players based on pre-calculated company-level KPIs.
The focus is placed on long-term growth, operational efficiency, profitability, and financial stability, highlighting structural differences in risk profiles across companies through a sector-level comparative analysis rather than recalculating base metrics

## Importing Libraries

In [1]:
# Importing necessary libraries for data manipulation, numerical operations, and plotting
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Load Sector Data

In [3]:
# Load pre-analyzed financial data for each energy company
acwa_power = pd.read_csv('ACWA Power/acwa_power_analysis_results.csv')
aldrees_petroluem = pd.read_csv('Aldrees Petroleum/aldrees_petroluem_analysis_results.csv')
saudi_aramco = pd.read_csv('Saudi Aramco/saudi_aramco_analysis_results.csv')

In [4]:
acwa_power.head()

,Year,Company_Name,Sector,Revenue_SAR,Net_Income_SAR,Operating_Income_SAR,Total_Assets_SAR,Total_Liabilities_SAR,Revenue_Growth_%,Operating_Margin_%,Net_Profit_Margin_%,Liabilities_to_Assets_Ratio,Asset_Turnover_Ratio
0,2019,ACWA Power,Energy,4114999.0,880083.0,918471.0,37747537.0,27142160.0,NaN,22.320078,21.387198,71.904453,0.109014
1,2020,ACWA Power,Energy,4829111.0,902387.0,1767939.0,36260987.0,28860832.0,17.353880,36.610030,18.686400,79.591965,0.133176
2,2021,ACWA Power,Energy,5360940.0,743908.0,1836995.0,45708698.0,31388553.0,11.012979,34.266285,13.876447,68.670853,0.117285
3,2022,ACWA Power,Energy,5275930.0,1476410.0,2363251.0,48845920.0,28817526.0,-1.585729,44.793070,27.983882,58.996792,0.108012
4,2023,ACWA Power,Energy,6095010.0,1771329.0,2983572.0,55018314.0,34309423.0,15.524846,48.951060,29.061954,62.360004,0.110781

In [5]:
aldrees_petroluem.head()

,Year,Company_Name,Sector,Revenue_SAR,Net_Income_SAR,Operating_Income_SAR,Total_Assets_SAR,Total_Liabilities_SAR,Revenue_Growth_%,Operating_Margin_%,Net_Profit_Margin_%,Liabilities_to_Assets_Ratio,Asset_Turnover_Ratio
0,2019,Aldrees Petroleum,Energy,5681129.0,291744.0,398815.0,3585220.0,2710453.0,NaN,7.019995,5.135317,75.600744,1.584597
1,2020,Aldrees Petroleum,Energy,4974081.0,121083.0,205926.0,4462753.0,3570271.0,-12.445554,4.139981,2.434279,80.001537,1.114577
2,2021,Aldrees Petroleum,Energy,9109615.0,176805.0,285131.0,5435393.0,4440243.0,83.141670,3.130001,1.940861,81.691296,1.675981
3,2022,Aldrees Petroleum,Energy,12356079.0,241828.0,370682.0,6315582.0,5206238.0,35.637774,2.999997,1.957158,82.434810,1.956443
4,2023,Aldrees Petroleum,Energy,14834059.0,280815.0,421156.0,7506130.0,6270210.0,20.054744,2.839115,1.893042,83.534524,1.976259

In [6]:
saudi_aramco.head()

,Year,Company_Name,Sector,Revenue_SAR,Net_Income_SAR,Operating_Income_SAR,Total_Assets_SAR,Total_Liabilities_SAR,Revenue_Growth_%,Operating_Margin_%,Net_Profit_Margin_%,Liabilities_to_Assets_Ratio,Asset_Turnover_Ratio
0,2019,Aramco,Energy,1.096444e+09,330693000.0,6.748710e+08,1.494126e+09,447891000.0,NaN,61.550886,30.160501,29.976789,0.733836
1,2020,Aramco,Energy,7.712460e+08,183763000.0,3.833600e+08,1.914261e+09,813167000.0,-29.659335,49.706579,23.826769,42.479422,0.402895
2,2021,Aramco,Energy,1.346930e+09,412369000.0,7.719180e+08,2.162690e+09,882022000.0,74.643369,57.309437,30.615474,40.783561,0.622803
3,2022,Aramco,Energy,2.006955e+09,60400500.0,1.144077e+09,2.492924e+09,826777000.0,49.002175,57.005613,3.009559,33.164950,0.805061
4,2023,Aramco,Energy,1.856373e+09,454764000.0,8.682870e+08,2.477940e+09,740848000.0,-7.503008,46.773305,24.497447,29.897738,0.749160

### Data Overview
The datasets contain pre-analyzed financial metrics for ACWA Power, Aldrees Petroleum, and Saudi Aramco, including revenue, growth rates, margins, and ratios over multiple years.

In [7]:
# Combine all company data into a single DataFrame for sector analysis
energy_df = pd.concat([acwa_power, aldrees_petroluem, saudi_aramco], ignore_index=True)
energy_df.head(10)

,Year,Company_Name,Sector,Revenue_SAR,Net_Income_SAR,Operating_Income_SAR,Total_Assets_SAR,Total_Liabilities_SAR,Revenue_Growth_%,Operating_Margin_%,Net_Profit_Margin_%,Liabilities_to_Assets_Ratio,Asset_Turnover_Ratio
0,2019,ACWA Power,Energy,4114999.0,880083.0,918471.0,37747537.0,27142160.0,NaN,22.320078,21.387198,71.904453,0.109014
1,2020,ACWA Power,Energy,4829111.0,902387.0,1767939.0,36260987.0,28860832.0,17.353880,36.610030,18.686400,79.591965,0.133176
2,2021,ACWA Power,Energy,5360940.0,743908.0,1836995.0,45708698.0,31388553.0,11.012979,34.266285,13.876447,68.670853,0.117285
3,2022,ACWA Power,Energy,5275930.0,1476410.0,2363251.0,48845920.0,28817526.0,-1.585729,44.793070,27.983882,58.996792,0.108012
4,2023,ACWA Power,Energy,6095010.0,1771329.0,2983572.0,55018314.0,34309423.0,15.524846,48.951060,29.061954,62.360004,0.110781
5,2024,ACWA Power,Energy,6297298.0,1987836.0,3011901.0,56882706.0,32576949.0,3.318912,47.828465,31.566491,57.270393,0.110707
6,2019,Aldrees Petroleum,Energy,5681129.0,291744.0,398815.0,3585220.0,2710453.0,NaN,7.019995,5.135317,75.600744,1.584597
7,2020,Aldrees Petroleum,Energy,4974081.0,121083.0,205926.0,4462753.0,3570271.0,-12.445554,4.139981,2.434279,80.001537,1.114577
8,2021,Aldrees Petroleum,Energy,9109615.0,176805.0,285131.0,5435393.0,4440243.0,83.141670,3.130001,1.940861,81.691296,1.675981
9,2022,Aldrees Petroleum,Energy,12356079.0,241828.0,370682.0,6315582.0,5206238.0,35.637774,2.999997,1.957158,82.434810,1.956443

### Combined Dataset
All company data has been concatenated into a single DataFrame for unified sector analysis.

## Quick Data Validation

In [8]:
# Perform quick data validation: check data types, summary statistics, and missing values
energy_df.info()
energy_df.describe()
energy_df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         18 non-null     int64
 1   Company_Name                 18 non-null     object
 2   Sector                       18 non-null     object
 3   Revenue_SAR                  18 non-null     float64
 4   Net_Income_SAR               18 non-null     float64
 5   Operating_Income_SAR         18 non-null     float64
 6   Total_Assets_SAR             18 non-null     float64
 7   Total_Liabilities_SAR        18 non-null     float64
 8   Revenue_Growth_%             15 non-null     float64
 9   Operating_Margin_%           18 non-null     float64
 10  Net_Profit_Margin_%          18 non-null     float64
 11  Liabilities_to_Assets_Ratio  18 non-null     float64
 12  Asset_Turnover_Ratio         18 non-null     float64
dtypes: float64(10), int64(1), object(2)
memory usage: 2.0+ KB

Year                           0
Company_Name                   0
Sector                         0
Revenue_SAR                    0
Net_Income_SAR                 0
Operating_Income_SAR           0
Total_Assets_SAR               0
Total_Liabilities_SAR          0
Revenue_Growth_%               3
Operating_Margin_%             0
Net_Profit_Margin_%            0
Liabilities_to_Assets_Ratio    0
Asset_Turnover_Ratio           0
dtype: int64

### Data Quality Check
Validated the dataset for data types, statistical summaries, and missing values to ensure reliability.

## Sector-Level Aggregations

#### a) Sector Trend over Years

In [9]:
# Calculate average metrics per year to observe sector trends over time
sector_trend = (
    energy_df.groupby("Year")
      .mean(numeric_only=True)
      .reset_index()
)

#### Sector Trend Analysis
Aggregated metrics by year to identify overall sector performance trends.

#### b) Company Summary

In [10]:
# Aggregate key financial metrics by company to compare performance
company_summary = (
    energy_df.groupby("Company_Name")
      .agg({
          "Revenue_Growth_%": "mean",
          "Operating_Margin_%": "mean",
          "Net_Profit_Margin_%": "mean",
          "Liabilities_to_Assets_Ratio": "mean",
          "Asset_Turnover_Ratio": "mean"
      })
      .reset_index()
)

#### Company Performance Summary
Averaged key financial ratios for each company to facilitate comparison.

#### c) Volatility

In [11]:
# Calculate revenue growth volatility (standard deviation) for each company
volatility = (
    energy_df.groupby("Company_Name")["Revenue_Growth_%"]
      .std()
      .reset_index(name="Revenue_Growth_Volatility")
)

#### d) CAGR

In [13]:
# Define a function to calculate Compound Annual Growth Rate (CAGR) for revenue
def calculate_cagr(df):
    start = df.iloc[0]["Revenue_SAR"]
    end = df.iloc[-1]["Revenue_SAR"]
    n = df.shape[0] - 1
    return ((end / start) ** (1 / n) - 1) * 100

# Apply CAGR calculation to each company
cagr_df = (
    energy_df.groupby("Company_Name")
      .apply(calculate_cagr)
      .reset_index(name="Revenue_CAGR")
)

C:\Users\asemh\AppData\Local\Temp\ipykernel_16852\84371067.py:11: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(calculate_cagr)

#### Compound Annual Growth Rate (CAGR)
Calculated CAGR for revenue to understand long-term growth trends.

## Merge Sector Insights Tables

In [14]:
# Merge company summary, volatility, and CAGR into a comprehensive insights table
sector_insights = company_summary.merge(
    volatility,
    on="Company_Name",
    how="left"
)

sector_insights = sector_insights.merge(
    cagr_df,
    on="Company_Name",
    how="left"
)
sector_insights

,Company_Name,Revenue_Growth_%,Operating_Margin_%,Net_Profit_Margin_%,Liabilities_to_Assets_Ratio,Asset_Turnover_Ratio,Revenue_Growth_Volatility,Revenue_CAGR
0,ACWA Power,9.124978,39.128165,23.760395,66.465743,0.114829,8.072598,8.882204
1,Aldrees Petroleum,31.283492,3.798405,2.518873,80.956724,1.765389,34.453298,27.694737
2,Aramco,16.707330,52.556759,22.370623,34.694476,0.676189,43.364227,10.442938

### Consolidated Sector Insights
Combined all calculated metrics into a single table for comprehensive analysis.

## Sector Insights

Despite being the largest sector in the Saudi market, the energy sector shows significant divergence between growth, profitability, and financial risk, highlighting that scale alone does not guarantee financial strength.

**Aldrees Petroleum** records the highest revenue growth, yet this growth is driven by a low-margin business model, as reflected in its weak operating and net profit margins. This indicates volume-based expansion rather than value-driven growth.

**Saudi Aramco** dominates in operational efficiency and profitability, achieving the highest operating margin in the sector, supported by strong asset utilization and scale advantages. However, its leverage remains relatively elevated, increasing exposure to cyclical and market-related risks.

**ACWA Power** demonstrates the most stable performance profile within the sector, combining moderate revenue growth with strong operating margins and comparatively controlled volatility, reflecting the long-term and infrastructure-oriented nature of its projects.

Financial risk varies substantially across companies, with high leverage amplifying vulnerability for firms with weak margins, while companies with strong cash flows and asset bases are better positioned to absorb higher debt levels.

## Energy Sector Summary

The energy sector delivers exceptional profitability supported by scale and asset intensity, yet it remains exposed to elevated financial and operational risk. While dominant players benefit from strong margins and efficiency, leverage levels and revenue volatility introduce structural risk. Overall, the sector offers high returns at the cost of increased sensitivity to market cycles.

## Save Clean Sector Output

In [15]:
# Export the cleaned sector data and insights to CSV files for further use
energy_df.to_csv("energy_sector_clean.csv", index=False)
sector_insights.to_csv("energy_sector_insights.csv", index=False)

print("Data exported successfully.")

Data exported successfully.

### Analysis Complete
The energy sector data has been cleaned, analyzed, and exported for further reporting or visualization.